<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - MHA Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <section class="sub-header">
        <nav>
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.jpg') }}"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">ABOUT</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('about') }}">About Us</a>
                            <a href="{{ url_for('our_approach') }}">Our Approach</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <h1>About Us</h1>
    </section>

    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>Exclusive For IIT Students</h1>
                <p>"At MHA, we're committed to fostering a supportive environment for students. Our platform provides
                    knowledge, resources, and tools to enhance emotional well-being."</p>
                <a href="{{ url_for('about') }}" class="hero-btn green-btn">Explore Now</a>
            </div>
            <div class="about-col">
                <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="About Image">
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>