<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHA Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
        rel="stylesheet">
</head>

<body>
    <section class="header">
        <nav>
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.jpg') }}"
                    alt="MHA Logo"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">ABOUT</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('about') }}">About Us</a>
                            <a href="{{ url_for('our_approach') }}">Our Approach</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">TESTS</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('anger_1') }}">Anger</a>
                            <a href="#">Depression</a>
                            <!-- <a href="{{ url_for('academic_stress') }}">Academic Stress</a> -->
                            <a href="#">Anxiety</a>
                        </div>
                    </li>
                    <button class="btnLogin-popup">Login</button>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </section>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>