<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Approach - MHA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <section class="Our_approach">
        <nav>
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.jpg') }}"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                </ul>
            </div>
        </nav>
        <h1>Our Approach</h1>
        <div class="peace">
            <h1>Understand Yourself Better</h1>
            <p>At MHA, we guide individuals towards emotional well-being through assessments covering anger, academic
                stress, anxiety, and depression.</p>
            <a href="{{ url_for('set_a') }}" class="hero-btn green-btn">Take a Test</a>
        </div>
    </section>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>