<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>MHA Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>
<body>
<section class="set_a">
        <nav>
            <a href="index.html"><img src="images/logo.jpg"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hidemenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">ABOUT</a>
                        <div class="dropdown-content">
                            <a href="about.html">About Us</a>
                            <a href="Our_Approach.html">Our Approach</a>
                        </div>
                    </li>
                    
                     <li class="dropdown">
                        <a href="#" class="dropbtn">TESTS</a>
                        <div class="dropdown-content">
                            <a href="set_A.html">Anger</a>
                            <a href="#">Depression</a>
                            <a href="set_A-AS.html">Academic Stress</a>
                            <a href="#">Anxiety</a>
                        </div>
                    </li>
                    <button class="btnLogin-popup">Login</button>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showmenu()"></i>
        </nav>
        <!DOCTYPE html>

<body>
<center>
    <h2>Anger Questionnaires</h2>
        <div class="question">
            <label for="q1">5. I am an even-tempered person.</label>
                <div class="options">
                <input type="radio" id="q5_strongly_agree" name="q5" value="5">
                <label for="q5_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q5_agree" name="q5" value="4">
                <label for="q5_agree">Agree</label>

                <input type="radio" id="q5_neutral" name="q5" value="3">
                <label for="q5_neutral">Neutral</label>

                <input type="radio" id="q5_disagree" name="q5" value="2">
                <label for="q5_disagree">Disagree</label>

                <input type="radio" id="q5_strongly_disagree" name="q5" value="1">
                <label for="q5_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <div class="question">
            <label for="q6">6. I have many arguments with members of my family.</label>
            <div class="options">
                <input type="radio" id="q6_strongly_agree" name="q6" value="5">
                <label for="q6_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q6_agree" name="q6" value="4">
                <label for="q6_agree">Agree</label>

                <input type="radio" id="q6_neutral" name="q6" value="3">
                <label for="q6_neutral">Neutral</label>

                <input type="radio" id="q6_disagree" name="q6" value="2">
                <label for="q6_disagree">Disagree</label>

                <input type="radio" id="q6_strongly_disagree" name="q6" value="1">
                <label for="q6_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <div class="question">
            <label for="q7">7. When I feel angry I take time to think before I react.</label>
                <div class="options">
                <input type="radio" id="q7_strongly_agree" name="q7" value="5">
                <label for="q7_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q7_agree" name="q7" value="4">
                <label for="q7_agree">Agree</label>

                <input type="radio" id="q7_neutral" name="q7" value="3">
                <label for="q7_neutral">Neutral</label>

                <input type="radio" id="q7_disagree" name="q7" value="2">
                <label for="q7_disagree">Disagree</label>

                <input type="radio" id="q7_strongly_disagree" name="q7" value="1">
                <label for="q7_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <div class="question">
            <label for="q8">8. If I bought a new product and realized it didn't work, I would be furious.</label>
            <div class="options">
                <input type="radio" id="q8_strongly_agree" name="q8" value="5">
                <label for="q8_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q8_agree" name="q8" value="4">
                <label for="q8_agree">Agree</label>

                <input type="radio" id="q8_neutral" name="q8" value="3">
                <label for="q8_neutral">Neutral</label>

                <input type="radio" id="q8_disagree" name="q8" value="2">
                <label for="q8_disagree">Disagree</label>

                <input type="radio" id="q8_strongly_disagree" name="q8" value="1">
                <label for="q8_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <div class="question">
            <label for="q9">9. I can communicate how I'm feeling without becoming aggressive.</label>
            <div class="options">
                <input type="radio" id="q9_strongly_agree" name="q9" value="5">
                <label for="q9_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q9_agree" name="q9" value="4">
                <label for="q9_agree">Agree</label>

                <input type="radio" id="q9_neutral" name="q9" value="3">
                <label for="q9_neutral">Neutral</label>

                <input type="radio" id="q9_disagree" name="q9" value="2">
                <label for="q9_disagree">Disagree</label>

                <input type="radio" id="q9_strongly_disagree" name="q9" value="1">
                <label for="q9_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <button type="button" onclick="window.location.href='set_A.html';">Before</button>
        <button type="next_B1" onclick=utilb1()>next</button>
        <script src="script.js"></script>
</body>
</html>
    </section> 
</center>
</body>
</html>

</html>

<!----javascript for toggle menu------->
    <script>
        var navlinks= document.getElementById("navlinks");

        function showMenu(){
            navLinks.style.right ="0";
        }
        function hideMenu(){
            navLinks.style.right ="-200";
        }

    </script>
</body>
</html>
