<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>MHA Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>
<body>
<section class="set_AS">
        <nav>
            <a href="index.html"><img src="images/logo.jpg"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hidemenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">ABOUT</a>
                        <div class="dropdown-content">
                            <a href="about.html">About Us</a>
                            <a href="Our_Approach.html">Our Approach</a>
                        </div>
                    </li>
                    
                     <li class="dropdown">
                        <a href="#" class="dropbtn">TESTS</a>
                        <div class="dropdown-content">
                            <a href="set_A.html">Anger</a>
                            <a href="#">Depression</a>
                            <a href="set_A-AS.html">Academic Stress</a>
                            <a href="#">Anxiety</a>
                        </div>
                    </li>
                    <button class="btnLogin-popup">Login</button>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showmenu()"></i>
        </nav>
        <!DOCTYPE html>

<body>
<center>
    <h2>Academic Stress Questionnaires</h2>
        <div class="question_as">
            <label for="q10">10. Increased class workload .</label>
                <div class="options">
                <input type="radio" id="q10_strongly_agree" name="q10" value="strongly_agree">
                <label for="q10_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q10_agree" name="q10" value="agree">
                <label for="q10_agree">Agree</label>

                <input type="radio" id="q10_neutral" name="q10" value="neutral">
                <label for="q10_neutral">Neutral</label>

                <input type="radio" id="q10_disagree" name="q10" value="disagree">
                <label for="q10_disagree">Disagree</label>

                <input type="radio" id="q10_strongly_disagree" name="q10" value="strongly_disagree">
                <label for="q10_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <div class="question_as">
            <label for="q11">11.  Lower grade.</label>
            <div class="options">
                <input type="radio" id="q11_strongly_agree" name="q11" value="strongly_agree">
                <label for="q11_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q11_agree" name="q11" value="agree">
                <label for="q11_agree">Agree</label>

                <input type="radio" id="q11_neutral" name="q11" value="neutral">
                <label for="q11_neutral">Neutral</label>

                <input type="radio" id="q11_disagree" name="q11" value="disagree">
                <label for="q11_disagree">Disagree</label>

                <input type="radio" id="q11_strongly_disagree" name="q11" value="strongly_disagree">
                <label for="q11_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <div class="question_as">
            <label for="q12">12. Many hours of study.</label>
                <div class="options">
                <input type="radio" id="q12_strongly_agree" name="q12" value="strongly_agree">
                <label for="q12_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q12_agree" name="q12" value="agree">
                <label for="q12_agree">Agree</label>

                <input type="radio" id="q12_neutral" name="q12" value="neutral">
                <label for="q12_neutral">Neutral</label>

                <input type="radio" id="q12_disagree" name="q12" value="disagree">
                <label for="q12_disagree">Disagree</label>

                <input type="radio" id="q12_strongly_disagree" name="q12" value="strongly_disagree">
                <label for="q12_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <div class="question_as">
            <label for="q13">13. Language difficulties.</label>
            <div class="options">
                <input type="radio" id="q13" name="q13" value="strongly_agree">
                <label for="q13_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q13_agree" name="q13" value="agree">
                <label for="q13_agree">Agree</label>

                <input type="radio" id="q13_neutral" name="q13" value="neutral">
                <label for="q13_neutral">Neutral</label>

                <input type="radio" id="q13_disagree" name="q13" value="disagree">
                <label for="q13_disagree">Disagree</label>

                <input type="radio" id="q13_strongly_disagree" name="q13" value="strongly_disagree">
                <label for="q13_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <div class="question_as">
            <label for="q14">14.  Lack of social contacts.</label>
            <div class="options">
                <input type="radio" id="q14" name="q14" value="strongly_agree">
                <label for="q14_strongly_agree">Strongly Agree</label>

                <input type="radio" id="q14_agree" name="q14" value="agree">
                <label for="q14_agree">Agree</label>

                <input type="radio" id="q14_neutral" name="q14" value="neutral">
                <label for="q14_neutral">Neutral</label>

                <input type="radio" id="q14_disagree" name="q14" value="disagree">
                <label for="q14_disagree">Disagree</label>

                <input type="radio" id="q14_strongly_disagree" name="q14" value="strongly_disagree">
                <label for="q14_strongly_disagree">Strongly Disagree</label>
            </div>
        </div>
        <button type="button" onclick="window.location.href='set_B1-AS.html';">Before</button>
        <a href="submit_1-AS.html">
            <button type="submit">Submit</button>
        </a>
        <script src="script.js"></script>
    </section> 
</center>
</body>
</html>

</html>

<!----javascript for toggle menu------->
    <script>
        var navlinks= document.getElementById("navlinks");

        function showMenu(){
            navLinks.style.right ="0";
        }
        function hideMenu(){
            navLinks.style.right ="-200";
        }

    </script>
</body>
</html>
